@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

ol,
li {
  margin-top: 10px;
  font-size: 20px;
  margin-right: 30px;
  justify-content: center;
  gap: 30px;
  display: flex;
}

button {
  border-radius: 10px;
  color: white;
  background-color: blue;
  height: 40px;
  width: 160px;
}
