@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

ol,
li {
  margin-right: 30px;
  justify-content: center;
  gap: 10px;
  display: flex;
}

button {
  color: white;
  background-color: #171717;
  height: 40px;
  width: 100px;
}
